.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(238, 238, 177);
    background-color: rgb(102, 148, 233);
    line-height: 3;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(photo.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

h1{
    font-family:Permanent Marker;
    font-style: normal;
    font-weight: 200;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: rgb(132, 0, 255);
}

#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}

img{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px rgba(2,2,2,0.2);
}

img:hover{
    border-radius: 140px;
}

.column{
    display: inline;
    padding: 10px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:linear-gradient(to right top, #f13333, #ff6f00, #fff700, #00ff11, #0095ff);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s;
}
button:hover span{
    width: 100%;
}